<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <base href="http://{{ app.request.host }}/bundles/yadmin/assets/"/>

    {% block title %}<title>Control</title>{% endblock %}

    {% block stylesheets %}
        <!-- Required Plugin CSS -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    {% endblock %}

    {% stylesheets
        'bundles/yadmin/assets/vendor/plugins/tagmanager/tagmanager.css'
        'bundles/yadmin/assets/vendor/plugins/daterange/daterangepicker.css'
        'bundles/yadmin/assets/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css'
        'bundles/yadmin/assets/vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css'
        'bundles/yadmin/assets/vendor/plugins/select2/css/core.css'
        'bundles/yadmin/assets/vendor/plugins/nestable/nestable.css'
        'bundles/yadmin/assets/assets/skin/default_skin/css/theme.css'
        'bundles/yadmin/assets/assets/admin.css'
        'bundles/yadmin/assets/assets/admin-tools/admin-forms/css/admin-forms.css'
        'bundles/yadmin/assets/assets/fonts/icomoon/icomoon.css'
        'bundles/yadmin/assets/vendor/plugins/redactor/redactor.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
        'bundles/yadmin/assets/vendor/jquery/jquery-1.11.1.min.js'
        'bundles/yadmin/assets/vendor/jquery/jquery_ui/jquery-ui.min.js'
        'bundles/yadmin/assets/vendor/plugins/src-min-noconflict/ace.js'
        'bundles/yadmin/assets/vendor/plugins/redactor/redactor.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
{% block bodyTags %}
    <body>
    {% block body %}
        <div id="main">

            {{ include('@YAdmin/_header.html.twig') }}

            {{ include("@YAdmin/_left_menu.html.twig") }}
            <!-- Start: Content-Wrapper -->
            <section id="content_wrapper">

                <!-- Start: Topbar -->
                <header id="topbar" class="alt">

                    <div class="topbar-left">
                        <ol class="breadcrumb">
                            {% if adminContext.activeModule.nested is defined %}
                                <li class="crumb-link">
                                    <a href="javascript:window.history.back();">&lt; Go back</a>
                                </li>
                            {% else %}
                                <li class="crumb-active">
                                    <a href="{{ path('admin.dashboard') }}">Dashboard</a>
                                </li>
                                {% if adminContext.activeModule.name != "dashboard" %}
                                    {% if object is not defined %}
                                        <li class="crumb-trail">
                                            {{ adminContext.activeModule.title }}
                                        </li>
                                    {% else %}
                                        <li class="crumb-link">
                                            <a href="{{ adminContext.activeModule.link }}">{{ adminContext.activeModule.title }}</a>
                                        </li>
                                        <li class="crumb-trail">
                                            {% if attribute(object, "__toString") is defined %}
                                                {{ object }}
                                            {% elseif attribute(object, "title") is defined %}
                                                {{ object.title }}
                                            {% else %}
                                                Object
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </ol>

                        <ol class="breadcrumb">
                            <li class="crumb-active">
                                <a href=""></a>
                            </li>
                        </ol>
                    </div>
                    <div class="topbar-right hidden-xs hidden-sm">

                    </div>
                </header>
                <!-- End: Topbar -->

                <!-- Begin: Content -->
                <section id="content" class="animated fadeIn">
                    {% block content %}{% endblock %}
                </section>
                <!-- End: Content -->

            </section>

        </div>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="notification-handler" data-type="{{ label }}">{{ flash }}</div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    {% javascripts
    'bundles/yadmin/assets/vendor/plugins/select2/select2.min.js'
    'bundles/yadmin/assets/vendor/plugins/holder/holder.min.js'
    'bundles/yadmin/assets/vendor/plugins/nestable/jquery.nestable.js'
    'bundles/yadmin/assets/vendor/plugins/pnotify/pnotify.js'
    'bundles/yadmin/assets/vendor/plugins/globalize/globalize.min.js'
    'bundles/yadmin/assets/vendor/plugins/moment/moment.min.js'
    'bundles/yadmin/assets/vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js'
    'bundles/yadmin/assets/assets/js/utility/utility.js'
    'bundles/yadmin/assets/assets/js/main.js'
    'bundles/yadmin/assets/assets/js/admin.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                "use strict";
                Core.init();
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}
</html>