{{ form_label(form[column], null, { 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }}
<div class="col-sm-10">
    {{ form_widget(form[column], { 'attr': {'style': 'display: none;'} }) }}

    <div class="form-control" style="position:relative; width: 780px;height: 500px;">
        <div id="{{ form[column].vars.id }}-editor" style="position: absolute; top:0; left: 0; right: 0; bottom:0;">{{ form[column].vars.value }} </div>
    </div>

    <script>
        var editor = ace.edit("{{ form[column].vars.id }}-editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/html");
        editor.on('change', function() {
            $('#{{ form[column].vars.id }}').val(editor.getValue());
        })
    </script>
</div>
