{{ form_label(form[column], null, { 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
<div class="col-md-8">
    {% if info.descrition is defined %}
        <span class="help-block mt5">
            <i class="fa fa-info"></i>{{ info.description }}
        </span>
    {% endif %}

    {% set path = false %}

    {% if attribute(object, column) %}
        {% set path = attribute(object, column) %}
    {% elseif info.value is defined %}
        {% set path = attribute(info, 'value') %}
    {% endif %}

    {% if path is not empty %}
        {% set path = "/" ~ path %}
        <img src="{{ path }}" style="width: 100px; background: repeat url('/bundles/yadmin/assets/assets/img/stock/bg-image.jpg')"/><br/>
        {#<img src="{{ path | imagine_filter('preview_100') }}"/>#}
        <a href="{{ path("admin.deleteAttributeFile", {
            id: adminContext.currentObject.id,
            module: adminContext.activeModule.name,
            path: path
        }) }}">delete</a>
    {% else %}
        <small>no file</small>
    {% endif %}

    {{ form_widget(form[column]) }}

    {% if form[column].vars.attr.help is defined %}
        <span class="help-block mt5">
            <p class="help-block">{{ form[column].vars.attr.help }}</p>
        </span>
    {% endif %}
</div>