<table class="table table-hover dataTable ">
    <thead>
        <tr class="bg-light">
            {% if adminContext.activeModule.batchs is defined %}
                <th>
                    <input type="checkbox" id="batch-select-all">
                </th>
            {% endif %}

            {% for columnName  in actions[action].show %}
                {% if tableConfig.columns[columnName] is defined %}
                    {% set columnInfo = tableConfig.columns[columnName] %}
                {% elseif tableConfig.submodules[columnName] is defined %}
                    {% set columnInfo = tableConfig.submodules[columnName] %}
                {% elseif tableConfig.subviews[columnName] is defined  %}
                    {% set columnInfo = tableConfig.subviews[columnName] %}
                {% else %}
                    {% set columnInfo = false %}
                {% endif %}

                {% if columnInfo is defined and columnInfo %}
                    {% set isSortable = false %}
                    {% set sortClass = false %}

                    {% if adminContext.activeModule.sortable is defined and columnName in adminContext.activeModule.sortable %}
                        {% set isSortable = true %}
                        {% set sortClass = (columnName == orderField ? 'sorting_' ~ order : 'sorting') %}
                        {% set currentOrder = (columnName == orderField ? (order == 'desc' ? 'asc' : 'desc') : 'desc') %}
                    {% endif %}

                    <th class="header_{{ columnName }} {{ sortClass }}" id="field-title-{{ columnName }}">
                        {% if isSortable %}
                            <a href="{{ adminContext.crateOrderLink(columnName, currentOrder) }}">
                                {{ columnInfo.title is defined ? columnInfo.title : columnName|capitalize }}
                            </a>
                        {% else %}
                            {{ columnInfo.title is defined ? columnInfo.title : columnName|capitalize }}
                        {% endif %}
                    </th>
                {% endif %}
            {% endfor %}

            {% if actions %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in objects %}
        <tr>
            {% if adminContext.activeModule.batchs is defined %}
                <th>
                    <input type="checkbox" name="ids[]" value="{{ object.id }}" class="batch-checkbox-item">
                </th>
            {% endif %}

            {% for columnName  in actions[action].show %}
                {% if tableConfig.columns[columnName] is defined %}
                    {% set columnInfo = tableConfig.columns[columnName] %}

                    <td class="table_cell_{{ columnInfo.type|default('text') }} table_cell_{{ columnName }}">
                        {% set value = attribute(object, columnName) %}
                        {% if columnName in ["title", "objectTitle"] %}
                            {% if actions.edit is defined %}
                                <a href="{{ path(actions.edit.route, {'id' : object.id, 'module': tableConfig.name }) }}" class="fw600">{{ value }}</a>
                            {% else %}
                                <span class="fw600">{{ value }}</span>
                            {% endif %}
                        {% elseif columnInfo.type == "datetime" %}
                            {{ value ? value|date("m/d/Y H:i:s") : '' }}
                        {% elseif columnInfo.type == "date" %}
                            {{ value ? value|date("m/d/Y") : '' }}
                        {% elseif columnInfo.type == "entity" and columnInfo.multiple is defined %}
                            {{ value|join(', ') }}
                        {% elseif columnInfo.type == "file" %}
                            {% set path = attribute(object, columnName ~ "Path") %}
                            {% if path %}
                                <a href="{{ path }}" target="_blank">view file</a>
                            {% else %}
                                <small>no file</small>
                            {% endif %}
                        {% elseif columnInfo.type == "image" %}
                            {% set path = attribute(object, columnName ~ "Path") %}
                            {% if path %}
                                <img src="{{ path | imagine_filter('preview_50') }}"/>
                            {% else %}
                                <small>no image</small>
                            {% endif %}
                        {% elseif columnInfo.type == "collection" %}
                        {% elseif columnInfo.type == "entity" %}
                            {{ value }}
                        {% elseif columnInfo.type == "boolean" %}
                            {% if value %}
                                <span class="badge badge-success">yes</span>
                            {% else %}
                                <span class="badge badge-default">no</span>
                            {% endif %}
                        {% else %}
                            {{ value[:30] }}
                        {% endif %}
                    </td>
                {% elseif tableConfig.submodules[columnName] is defined %}
                    {% set columnInfo = tableConfig.submodules[columnName] %}
                    <td class="table_cell_{{ columnInfo.type|default('text') }} table_cell_{{ columnName }}">
                        <a href="{{ path(actions.default.route, { module: columnInfo.type, filter: {(columnInfo.filter) : object.id} }) }}" class="fw600">
                            {{ columnInfo.title is defined ? columnInfo.title : columnName|capitalize }}
                        </a>
                    </td>
                {% elseif tableConfig.subviews[columnName] is defined %}
                    {% set columnInfo = tableConfig.subviews[columnName] %}
                    {{ include(columnInfo.template) }}
                {% endif %}
            {% endfor %}

            {% if actions %}
                <td class="text-right">
                    {{ include('@YAdmin/_elements/_object_actions.html.twig') }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>