{% extends '@YAdmin/_layout.html.twig' %}

{% block content %}
    {% if moduleConfig.filters is defined %}
    <div class="panel">
        <div class="panel-heading clearfix">
            {{ form_start(filters) }}
            <span class="panel-title">
                    {% for filterKey in moduleConfig.filters|keys %}
                        {{ form_widget(filters[filterKey]) }}
                    {% endfor %}
            </span>
            <span class="pull-right">
                <button type="submit" class="btn btn-light btn-rounded btn-success btn-sm w100">Filter</button>
            </span>
            {{ form_end(filters) }}
        </div>
    </div>
    {% endif %}

    {% block list_panel %}
        <div class="panel">
            {% if adminContext.activeModule.batchs is defined %}
                <form method="post" action="#">
            {% endif %}
                    <div class="panel-heading clearfix">
                        <span class="panel-title">
                            <span class="fa fa-table"></span>
                            {{ tableTitle|default("Data") }}
                        </span>
                        <span class="pull-right">
                            {% if moduleConfig.actions.add is defined %}
                                <a class="btn btn-primary light btn-sm btn-rounded fw600 ml10 w100"
                                        href="{{ path(moduleConfig.actions.add.route, { 'module': adminContext.activeModule.name }) }}">
                                    <i class="fa fa-plus pr5"></i>Add</a>
                            {% endif %}
                            {% if moduleConfig.actions.export is defined %}
                                <a class="btn btn-primary light btn-sm btn-rounded fw600 ml10 w100"
                                        href="{{ path(moduleConfig.actions.export.route, { 'module': adminContext.activeModule.name }) }}">
                                    <i class="fa fa-file-excel-o pr5"></i>Export</a>
                            {% endif %}

                            {% if moduleConfig.header_actions is defined %}
                                {% for headerActionName, headerActionConf in moduleConfig.header_actions %}
                                    <a class="btn btn-primary light btn-sm btn-rounded fw600 ml10" href="{{ path(headerActionConf.route) }}">
                                        <i class="{{ headerActionConf.icon is defined ? headerActionConf.icon : '' }}"></i>{{ headerActionConf.title is defined ? headerActionConf.title : headerActionName|capitalize }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                    <div class="panel-body pn">
                        <div class="bs-component">
                            {{ include('@YAdmin/_elements/_table_body.html.twig', { tableConfig: moduleConfig, actions: moduleConfig.actions }) }}
                        </div>
                    </div>
                    {% if pager.pagesCount and pager.pagesCount > 1 %}
                    <div class="panel-footer">
                            <div class="row">
                                {% if adminContext.activeModule.batchs is defined %}
                                <div class="col-md-4" style="margin: 19px 0;">
                                    <div class="form-group">
                                        <label for="batch-action">Action:</label>
                                        <select name="action" id="batch-action" disabled>
                                            {% for key, batch in adminContext.activeModule.batchs %}
                                                <option data-action="{{ path(batch.route, {'module' : moduleConfig.name }) }}" value="{{ key }}">{{ batch.title }}</option>
                                            {% endfor %}
                                        </select>

                                        <button disabled type="submit" id="batch-submit-button" onclick="return confirm('Are you sure?')" class="btn btn-primary btn-sm">Submit</button>
                                    </div>
                                </div>
                                {% endif %}

                                <div class="col-md-5">
                                    {{ include('@YAdmin/List/pager.html.twig') }}
                                </div>
                            </div>
                    </div>
                    {% endif %}
                {% if adminContext.activeModule.batchs is defined %}
                </form>
                {% endif %}
        </div>
    {% endblock %}

{% endblock %}

{% if adminContext.activeModule.batchs is defined %}
    {% block javascripts %}
        <script type="text/javascript">
            $(function(){
                var checkboxes = $('.batch-checkbox-item');
                var allCheckbox = $('#batch-select-all');
                var submitButton = $('#batch-submit-button');

                checkboxes.change(function(){
                    var checked = $('.batch-checkbox-item:checked').length;
                    allCheckbox.prop('checked', checked == checkboxes.length);

                    checkCheckboxes();
                });

                allCheckbox.change(function(){
                    console.log('asd');
                    checkboxes.prop('checked', $(this).is(':checked'));

                    checkCheckboxes();
                });

                submitButton.closest('form').submit(function (e) {
                    var form = $(this);
                    if(form.hasClass('ignore')){
                        return;
                    }

                    e.preventDefault();

                    var action = form.find('#batch-action').find('option:selected').data('action');
                    form.attr('action', action);

                    form.addClass('ignore').submit();
                });

                function checkCheckboxes()
                {
                    var action = $('#batch-action');

                    if($('.batch-checkbox-item:checked').length){
                        action.removeAttr('disabled');
                        submitButton.removeAttr('disabled');
                    }else{
                        action.attr('disabled', 'disabled');
                        submitButton.attr('disabled', 'disabled');
                    }
                }

            });
        </script>
    {% endblock %}
{% endif %}
