{% extends '@YAdmin/_layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="panel">
        {{ form_start(form, {'attr' : {'id' : 'form-list-view', 'class' : 'form-horizontal'}}) }}

        <div class="panel-heading">
            {% block viewPanelHeading %}
                <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                    {% for tabAlias, tabOptions in moduleConfig.tabs %}
                        <li{% if loop.index == 1 %} class="active"{% endif %}><a href="#{{ tabAlias }}"
                                                                                 data-toggle="tab">{{ tabOptions.title }}</a>
                        </li>
                    {% else %}
                        <span class="panel-title">Object information</span>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>

        <div class="panel-body">
            {% block viewPanelBody %}
            <div class="tab-content pn br-n">
                {% for tabAlias, tabOptions in moduleConfig.tabs %}
                    <div id="{{ tabAlias }}" class="tab-pane{% if loop.index == 1 %} active{% endif %}">
                        {{ include(tabOptions.template) }}
                    </div>
                {% else %}
                    {{ include('@YAdmin/_fragments/formFields.html.twig') }}
                {% endfor %}
                {% endblock %}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ adminContext.getBackUrl() }}" class="btn btn-rounded btn-default btn-block button-back-handler pull-right"
                            style="max-width: 100px;">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-rounded btn-primary btn-block light"
                            style="max-width: 130px;">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}



        <script>
            $(function(){
                var $attributeCollection = $('.list-group.attribute-list');
                var $blockInput = $('#blocks-serialized');
                var $blocksForm = $('#form-list-view');

                $('.add-attribute-handler').find('a').click(function(e){
                    e.preventDefault();

                    $.ajax({
                        url: '/app_dev.php/cms/get-attribute-form',
                        dataType: 'html',
                        data: {
                            type: $(this).data('type')
                        }
                    }).success(function(response){
                        $attributeCollection.append(response);
                    });
                });

                $(document).on('click', '.delete-attribute-handler', function(e){
                    $(this).closest('.list-group-item').remove();
                    e.preventDefault();
                });

                $blocksForm.on('submit', function(e) {
                    var blocks = [];

                    $attributeCollection.find('.list-group-item.attribute-item').each(function(){
                        var blockItem = {};

                        $(this).find('input, select, textarea').each(function(){
                            if($(this).closest('.type-options').length){
                                if(!$(this).closest('.type-options').hasClass('ignore')){
                                    var $value = getValueOfItem(this);
                                    var $key = $(this).attr('name');

                                    if($key.indexOf('[]', this.length - '[]'.length) !== -1){
                                        $key = $key.substr(0, $key.length - '[]'.length);

                                        if(!blockItem.hasOwnProperty($key)){
                                            blockItem[$key] = [];
                                        }

                                        blockItem[$key].push($value);
                                    }else{
                                        blockItem[$key] = $value;
                                    }
                                }
                            }else{
                                blockItem[$(this).attr('name')] = getValueOfItem(this);
                            }
                        });

                        blocks.push(blockItem)
                    });

                    $blockInput.val(JSON.stringify(blocks));
                });

                function getValueOfItem(el)
                {
                    var $value = $(el).val();
                    if($(this).attr('type') == 'checkbox'){
                        $value = $(el).is(':checked');
                    }

                    return $value;
                }

                $(document).on('change', '.change-attribute-type-handler', function(){
                    var $value =  $(this).val();
                    var $parent = $(this).closest('.list-group-item');

                    $parent.find('.type-options').addClass('ignore').hide();
                    $parent.find('.type-options[data-type=' + $value + ']').removeClass('ignore').show();
                });

                $(document).on('click', '.remove-row-handler', function(){
                    $(this).closest('.item-row').remove();
                });

                $(document).on('click', '.add-row-handler', function(){
                    $(this).closest('.form-group').find('.row-items').append('<div class="item-row">' +
                            '<input type="text" name="config[items][key][]">' +
                            '<input type="text" name="config[items][value][]">' +
                            '<span class="remove-row-handler">x</span>' +
                            '</div>');
                });
            });

        </script>
    {% endblock %}
