<div class="row">
    <div class="col-md-8">
        <input type="hidden" id="blocks-serialized" name="blocksSerialized"/>
        <h4>Current structure</h4>
        <hr class="short">
        <div class="dd mb35" id="page-structure">
            <ol class="dd-list">
                {% for block in object.blocks %}
                    <li class="dd-item dd3-item" data-id="{{ block.id }}" data-key="{{ block.alias }}">
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content clearfix">
                            {{ block.name }}
                            <input type="text" placeholder="alias" value="{{ block.alias }}"/>
                            <button class="block-remove-handler btn btn-link btn-sm pull-right">delete</button>
                        </div>
                    </li>
                {% else %}
                    <li class="dd-item">
                        Drag blocks here
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Available blocks</h4>
        <hr class="short">
        {% if blocksSource %}
            <div class="dd mb35" id="block-source" data-list-type="source">
                <ol class="dd-list">
                    {% for block in blocksSource %}
                        <li class="dd-item dd3-item" data-id="{{ block.id }}">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">{{ block.name }}
                                <span class="text-success pull-right fs11 fw600">{{ block.type ? "system" : "custom" }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            There is no blocks available
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        var $pageStructure = $('#page-structure');
        var $blockInput = $('#blocks-serialized');
        var $blocksForm = $('#form-list-view');
        $('.block-remove-handler').on('click', function(evt) {
            $(evt.currentTarget).closest('li').remove();
        });

        $blocksForm.on('submit', function(e) {
//                e.preventDefault();
            var $blockNodes = $pageStructure.find('li');
            var blocks = [];
            for(var i =0; i< $blockNodes.length; i++) {
                var $node = $($blockNodes[i]);
                if (!$node.data('id')) continue;
                var item = {
                    'id': $node.data('id'),
                    'alias': $node.find('input').val()
                };
                blocks.push(item);
            }
            $blockInput.val(JSON.stringify(blocks));
//                $blocksForm.submit();
        });

        $pageStructure.nestable({
            group: 1,
            maxDepth: 1
        });

        $('#block-source').nestable({
            group: 1,
            maxDepth: 1,
            isSource: true,
            processNewElement: function(el) {
                var content = el.find('.dd3-content');
                content
                        .append('<input type="text" placeholder="alias" name="block_alias[]" />')
                ;
            }
        })
    });

</script>