<div class="row">
    <div class="col-md-8">
        <input type="hidden" id="view-serialized" name="viewsSerialized"/>
        <h4>Current structure</h4>
        <hr class="short">
        <div class="dd mb35" id="view-structure">
            <ol class="dd-list">
                {% for view in object.subviews %}
                    <li class="dd-item dd3-item" data-id="{{ view.id }}" data-key="{{ view.name }}" data-type="{{ view.type }}">
                        <div class="dd-handle dd3-handle"></div>
                        <div class="dd3-content clearfix">
                            <span class="text">{{ view.objectTitle }}</span>
                            <input class="structure-item" type="text" placeholder="name" value="{{ view.name }}"/>
                            <button class="view-remove-handler btn btn-link btn-sm pull-right">delete</button>
                        </div>
                    </li>
                {% else %}
                    <li class="dd-item not-include">
                        Drag views here
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Available views</h4>
        <hr class="short">
        {% if viewsSource %}
            <div class="dd mb35" id="view-source" data-list-type="source">
                <ol class="dd-list">
                    {% for view in viewsSource %}
                        <li class="dd-item dd3-item" data-id="{{ view.id }}" data-type="{{ view.type }}">
                            <div class="dd-handle dd3-handle"></div>
                            <div class="dd3-content">
                                <span class="text">{{ view.objectTitle }}</span>
                                {#<span class="text-success pull-right fs11 fw600">{{ view.type ? "system" : "custom" }}</span>#}
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            There is no views available
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        var $pageStructure = $('#view-structure');
        var $viewInput = $('#view-serialized');
        var $viewsForm = $('#form-list-view');
        $('.view-remove-handler').on('click', function(evt) {
            $(evt.currentTarget).closest('li').remove();
        });

        $viewsForm.on('submit', function(e) {
            var $viewNodes = $pageStructure.find('li');
            var views = [];
            for(var i =0; i< $viewNodes.length; i++) {
                var $node = $($viewNodes[i]);

                if($node.hasClass('not-include')){
                   continue;
                }

                var item = {
                    'id': $node.data('id'),
                    'name': $node.find('input').val(),
                    'type' : $node.data('type')
                };
                views.push(item);
            }


            $viewInput.val(JSON.stringify(views));
        });

        $('.structure-item').on('keypress', function(e){
            if(e.which == 13)
            {
                return false;
            }
        });

        $pageStructure.nestable({
            group: 1,
            maxDepth: 1
        });

        $('#view-source').nestable({
            group: 1,
            maxDepth: 1,
            isSource: true,
            processNewElement: function(el) {
                var content = el.find('.dd3-content');
                var element = $('<input type="text" placeholder="name" name="view_name[]" />').on('keypress', function(e){
                    if(e.which == 13)
                    {
                        return false;
                    }
                });

                content.append(element);
            }
        })
    });

</script>