{%- block form_row -%}
    <div class="form-group {% if not form.vars.valid %}has-error{% endif %} ">
        {{- form_label(form) -}}

        {% set class = 'col-md-5' %}
        {% set combinedAttr = form.vars.attr %}

        {% if form.vars.attr['data-column'] != 'checkbox' %}
            {% set combinedAttr = combinedAttr|merge({ class: (combinedAttr.class is defined ? combinedAttr.class : '') ~ 'form-control' }) %}
        {% endif %}

        {% if form.vars.attr['data-column'] in ['date', 'image'] %}
            {% set class = 'col-md-8' %}
        {% elseif form.vars.attr['data-column'] == 'wysiwyg' %}
            {% set class = 'col-md-10' %}
        {% elseif form.vars.attr['data-column'] == 'textarea' %}
            {% set class = 'col-md-10' %}
            {% set combinedAttr = combinedAttr|merge({ rows: 10 }) %}
        {% elseif form.vars.attr['data-column'] == 'html' %}
            {% set class = 'col-md-10' %}
            {% set combinedAttr = combinedAttr|merge({ style: (combinedAttr.style is defined ? combinedAttr.style : '') ~ 'display: none;' }) %}
        {% endif %}

        <div class="{{ class }}">
            {% if form.vars.attr['data-column'] == 'image' %}
                {% if form.vars.value is not empty %}
                    <img src="{{ form.vars.value | imagine_filter('preview_100') }}" style="width: 100px; background: repeat url('/bundles/yadmin/assets/assets/img/stock/bg-image.jpg')"/> <br/>
                {% else %}
                    <small>no file</small>
                {% endif %}
            {% endif %}

            {{- form_widget(form, { attr : combinedAttr }) -}}

            {% if form.vars.attr['data-column'] == 'html' %}
                <div class="form-control" style="position:relative; width: 780px;height: 500px;">
                    <div id="{{ form.vars.id }}-editor" style="position: absolute; top:0; left: 0; right: 0; bottom:0;">{{ form.vars.value }} </div>
                </div>

                <script>
                    $(function(){
                        var editor = ace.edit("{{ form.vars.id }}-editor");
                        editor.setTheme("ace/theme/monokai");
                        editor.getSession().setMode("ace/mode/html");
                        editor.on('change', function() {
                            $('#{{ form.vars.id }}').val(editor.getValue());
                        });
                    });
                </script>
            {% elseif form.vars.attr['data-column'] == 'wysiwyg' %}
                <script>
                    $(function(){
                        $('#{{ form.vars.id }}').redactor({
                            convertDivs: true,
                            cleanup: true,
                            minHeight: 200,
                            lang: 'en',
                            custom_css: ['css/main.css'],
                            base_href: "http://{{ app.request.baseUrl }}"
                        });
                    });
                </script>
            {% elseif form.vars.attr['data-column'] == 'date' %}
                <script>
                    $(document).ready(function() {
                        $('#{{ form.vars.id }}').datetimepicker({
                            pickTime: false,
                            format: "YYYY-MM-DD"
                        });
                    });
                </script>
            {% endif %}

            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row -%}

{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}

    {% if attr.help is defined %}
        <span class="help-block mt5">
            <p class="help-block">{{ attr.help }}</p>
        </span>
    {% endif %}
{%- endblock form_widget -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <span class="help-block">{{ error.message }}</span>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({ class : 'col-md-2 control-label'}) %}

    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}